
<h3 style="margin-top:150px">
        This is home page
</h3>

<div class="home">
    <img src="../../../assets/img/i1.png" alt="not available" style="width:25%;height:25%" class="marginauto"  />
  <p>
    A home page is a webpage that serves as the starting point of website. It is the default webpage that loads when you visit a web address that only contains a domain name. For example, visiting https://techterms.com will display the Tech Terms home page. The home page is located in the root directory of a website.
  </p>
</div>

   

