
<nav class="navbar navbar-expand-lg navbar-light  fixed-top " style="background-color:  cornflowerblue">
  <a class="navbar-brand" href="#" style="color: black;"><h1>This is header page</h1></a>

  <div class="collapse navbar-collapse" id="mynavbar">
    <div class="navbar-nav" style="margin-left:550px;">
      <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;
      <a routerLink="/about">About Us</a>&nbsp;&nbsp;&nbsp;
      <a routerLink="/contact">Contact Us</a>&nbsp;&nbsp;&nbsp;
      <a routerLink="/user">User</a>
    </div>
  </div>
</nav>

