<h3 style="margin-top:150px">This is User page</h3>

<!--<table id="users">
  <tr>
    <th *ngFor="let column of headers">
      {{column}}
    </th>
  </tr>
  <tr *ngFor="let row of rows">
    <td *ngFor="let column of headers">
      {{row[column]}}
    </td>
  </tr>
</table>-->

<table align="center" border="1" cellpadding="2" width="50px" height="100px" class="table table-light table-hover">
  <thead>
    <tr style="text-align:center">
      <th>Role</th>
      <th>Qualification</th>
    </tr>
  </thead>
  <tbody>
    <tr style="text-align:center">
      <td>Admin</td>
      <td>BE</td>
    </tr>
    <tr style="text-align:center">
      <td>Customer</td>
      <td>B.Com</td>
    </tr>
    <tr style="text-align:center">
      <td>Developer</td>
      <td>ME</td>
    </tr>
  </tbody>
</table>

<!--<table id="example" class="display" style="width:100%">
  <thead>
    <tr>
      <th>Role</th>
      <th>Qualification</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Admin</td>
      <td>BE</td>
    </tr>
    <tr>
      <td>Customer</td>
      <td>B.Com</td>
    </tr>
    <tr>
      <td>Developer</td>
      <td>ME</td>
    </tr>
    </tbody>
    </table>-->

<!--<script type="text/javascript">
  $(document).ready(function () {
    $('#example').DataTable();
  });
</script>-->




