<h3 style="margin-top:120px">This is Contact page</h3>
<app-header></app-header>
<form class="mce-text-center border border-aqua" >
  Name : <input type="text" id="name" /> <br /><br />
  Email : <input type="text" id="email" /><br /><br />
  Message : <textarea id="message" style="height:100px"></textarea> <br /><br />
  Subject : <textarea id="subject" style="height:100px"></textarea><br /><br /><br />
  <input type="submit" id="submit" value="Submit" onclick="return confirm('Are you sure to submit')" />
  <!--<button class=" mce-btn-large">Submit</button>-->
</form>
<app-footer></app-footer>
<!--<!DOCTYPE html>-->


<!--<form action="https://formspree.io/techiediaries9@gmail.com" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" class="full-width" /><br />
  <label for="email">Email Address</label>
  <input type="email" id="email" name="_replyto" class="full-width" /><br />
  <label for="message">Message</label>
<textarea name="message" id="message" cols="30" rows="10" class="full-width"></textarea><br />
  <input type="submit" value="Send" class="button" />
</form>-->
